Gauge/bin/classes.dex
Gauge/bin/Gauge.apk
Gauge/bin/classes/com/example/gauge/MainActivity$3.class
Gauge/bin/classes/com/example/gauge/MainActivity.class
Gauge/bin/classes/com/example/gauge/R$id.class
Gauge/bin/classes/com/example/gauge/R$style.class
Gauge/bin/classes/com/example/gauge/RegisterActivity.class
Gauge/bin/resources.ap_